<div class="container">
  <ul class="timeline">
    <li class="card" *ngFor="let card of cards | async">
      <div class="card-badge">{{card.dia}}</div>
      <div class="card-content" [ngClass]="{'right': card.tipoInteracao=='exame'}">
          <h3>{{card.tipoInteracao}}</h3>
          <p>
              <span>Especialidade: {{card.especialidade}}</span>
              <span>Tipo: {{card.nomeInteracao}}</span>
              <span>Modalidade: {{card.modalidade}}</span>
              <span>Estabelecimento: {{card.estabelecimento}}</span>
              <span>Data: {{card.dia}}/{{card.mes}}/{{card.ano}}</span>
          </p>
      </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>